name: CI

on: [push]

env:
  CC: gcc-10
  CXX: g++-10
  BUILD_TYPE: Release
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Install GCC 10
      shell: bash
      run: |
        sudo apt update
        sudo apt install gcc-10 g++-10

    - name: Dependencies
      shell: bash
      run: |
        git clone https://github.com/quandangv/linkt
        cd linked_nodes
        ./build.sh -AP /usr

    - name: Build
      working-directory: ${{github.workspace}}
      shell: bash
      run: make

    - name: Test
      working-directory: ${{github.workspace}}
      shell: bash
      run: make test
